In [4]:
import psycopg2

In [5]:
connection = psycopg2.connect(
    database="startml",
    user="robot-startml-ro",
    password="pheiph0hahj1Vaif",
    host="postgres.lab.karpov.courses",
    port=6432
)

In [6]:
cursor = connection.cursor()

In [7]:
# в конце работы необходимо закрывать курсор
cursor.close()
# и соединение с БД
connection.close()

In [44]:
import pandas as pd

df = pd.read_sql(
    """select post_id, time, age, os
from "user" u
join feed_action ON user_id = u.id
where city = 'Omsk'
order by  time desc
limit 100
 """,
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

df.head()

   post_id                time  age       os
0     7159 2022-01-26 23:59:54   17  Android
1     7159 2022-01-26 23:59:42   17  Android
2     7168 2022-01-26 23:59:32   17  Android
3     7272 2022-01-26 23:58:39   17  Android
4     7187 2022-01-26 23:58:14   17  Android

In [47]:
df.to_csv("2.csv" , index=False)

In [43]:

d = pd.read_sql(
    """select exp_group, os, total_users, max(age) as max_age, min(age) as min_age
from "user" group by exp_group, os """,
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

d.head()

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "total_users" does not exist
LINE 1: select exp_group, os, total_users, max(age) as max_age, min(...
                              ^

[SQL: select exp_group, os, total_users, max(age) as max_age, min(age) as min_age
from "user" group by exp_group, os ]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [12]:
a = pd.read_sql(
    """SELECT topic FROM "post" """,
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

a.head()

      topic
0  business
1  business
2  business
3  business
4  business

In [27]:
d = a.drop_duplicates()

In [28]:
d.head(10)

              topic
0          business
7             covid
38    entertainment
82            sport
1097       politics
2311           tech
4023          movie